name: Custom Rockers Images Spatial

on:
  push:
  workflow_dispatch:
    branches:
      - 'corespatial'
      - '!main'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: cmzambranat/spatial:4.4.0

      - name: Image digest
        run: echo "The image digest is ${{ steps.docker_build.outputs.digest }}"
